@import '../../styles/animations.scss';

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title, .text {
    @extend .skeleton_animation;
  }

  .title {
    width: 100%;
    height: 25%;
  }
  .text {
    width: 100%;
    height: 65%;
  }
}