@font-face {
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  src: url('../../shared/assets/NotoSans-Regular.ttf');
}

@font-face {
  font-family: Noto Sans, sans-serif;
  font-weight: 600;
  src: url('../../shared/assets/NotoSans-SemiBold.ttf');
}

@font-face {
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  src: url('../../shared/assets/NotoSans-Bold.ttf');
}