@import '../../UI/styles/colors.scss';
@import '../../UI/styles/constants.scss';

.container {
  width: 600px;
  height: 120px;
  margin: 30px auto 60px auto;

  @media screen and (max-width: $medium) {
    width: 400px;
  }
  @media screen and (max-width: $small) {
    width: 320px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.text, .url {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 12px;
}

.url {
  text-decoration: underline;
  color: $semi_purple;
}