@import '../../UI/styles/colors.scss';
@import '../../UI/styles/constants.scss';

.container {
  width: 600px;
  height: auto;
  margin: 30px auto 60px auto;
  border: 1px solid $grey;
  padding: 30px 0;

  @media screen and (max-width: $medium) {
    width: 400px;
  }
  @media screen and (max-width: $small) {
    width: 320px;
  }
}

.title {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding: 20px 10px;
}

.text, .url {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  position: relative;
  padding: 20px 10px;
}

.url {
  margin-top: 20px;
  text-decoration: underline;
  color: $semi_purple;
}

.titleName {
  position: absolute;
  top: 0;
  left: 10px;
  font-weight: 400;
  color: $semi_purple;
  font-size: 13px;
}